<div id="cartas">
    <div *ngFor="let peli of peliculas" class="card" style="width: 19rem;">
        <img class="card-img-top" src="{{peli.poster}}" alt="Card image cap" height="400px">
        <div class="card-body">
            <h5 class="card-title">{{peli.nombre}}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            <button mat-raised-button color="accent">Accent</button>
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
        </div>
    </div>
</div>